@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    color: var(--color-primario-700);
}

ul, ol {
    list-style: none;
}

:root { 
    --color-primario-700: #3d325c;
    --color-primario-500: #aca0f2;
    --color-primario-200: #e1defc;
    --color-primario-100: #f4f1fe; 
    --color-primario-50: #fbfafc;

}

body{
    background-color: var(--color-primario-100);
}

.content-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1562px;
    align-items: center;


}

.btn-primary {
    padding: 16px 32px;
    border-radius: 100px;
    background-color: var(--color-primario-500);
    font-weight: 600;
}

.btn-primary:hover{
    background-color: var(--color-primario-200);
}

.btn-secondary {
    border: none;
    background-color: var(--color-primario-50);
    padding: 16px;
    border-radius: 100%;
    height: 56px;
    width: 56px;
    font-size: 19px;
}

.cloud {
    width: 50px;
    height: 50px;

}



.btn-secondary:hover{
    background-color: var(--color-primario-200);
}

.header__logo-container {
    width: 150px;
    height: 30px;

}

.header{
    background-color: var(--color-primario-100);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 94px;
}

.header .header__nav-list {
    display: flex;
    background-color: var(--color-primario-50);
    height: 62px;
    border-radius: 100px;
    padding: 8px;
}

.header__nav-item {
    padding: 12px 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;

}

.header__nav-item:hover {
    background-color: var(--color-primario-200);
    border-radius: 92px;
    cursor: pointer;
}

.header__actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

}

.btn-menu {
    display: none;
    padding-left: 18px;
}

.logo-mobile {
    display: none;
     width: 40px;
    height: 30px;
}

@media screen and (max-width: 1280px) {
    header nav {
        display: none;
    }
    .btn-search {
        display: none;
    }

    .btn-menu {
        display: flex;
    }
}

@media (width < 770px) {
    .logo-mobile {
        display: flex;
    
    }
    .header__logo-container {
        display: none;
    }
    .btn-primary {
        font-size: 14px;
    }

    .header {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        background-color: var(--color-primario-50)
    }
}